
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<aside>Note: you must be logged into your Phanon Account in the same browser for this to work.</aside>
<ul>
    <li><a asp-action="Matrix">Matrix Parser</a></li>
    <li><a asp-action="Exercises">Exercise Parser</a></li>
</ul>