
@{
    ViewData["Title"] = "Matrix";
}

<h1>Matrix</h1>

<button id="btnRead">Read JSON</button>
<label for="txtCourseID">Course ID number from Phanon</label>
<input id="txtCourseID" />
<label for="chkAverages">Only show averages per Activity</label>
<input type="checkbox" id="chkAverages" />
<div id="filter">
    <label for="txtFilter">Filter Names</label>
    <input id="txtFilter" />
</div>
<div id="divOutput"></div>
<table id="tblOutput">
</table>

